type file
id Muffin.Pictures.Archiver
version 0.1
authors Koen Metsu
description
	Picture Archiver

files
	bin/Muffin.Pictures.Archiver/*.exe ==> .
	bin/Muffin.Pictures.Archiver/*.dll ==> .
	bin/Muffin.Pictures.Archiver/exiftool* ==> .
	postDeploy.sh ==> .
