source https://nuget.org/api/v2

nuget FSharp.Data
nuget FSharp.Formatting
nuget FAKE
nuget Microsoft.VisualBasic
nuget Nlog.config
nuget NUnit.Runners
nuget OctopusTools
nuget SourceLink.Fake
nuget UnionArgParser
nuget Unquote
nuget fsharp.management
nuget nunit
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio

github fsharp/FAKE modules/Octokit/Octokit.fsx