source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FAKE
nuget Microsoft.VisualBasic
nuget NUnit.Runners
nuget SourceLink.Fake
nuget UnionArgParser
nuget Unquote
nuget fsharp.management
nuget logary
nuget nunit
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio

github fsharp/FAKE modules/Octokit/Octokit.fsx