<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog>
    <include file="nlog.config" />
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="sourceDir" value="d:\temp"/>
    <add key="destinationDir" value="d:\temp"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp configSource="smtp.config"></smtp>
    </mailSettings>
  </system.net>
</configuration>
