<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log" >

  <targets>
    <target xsi:type="Mail"
          name="mailTarget"
          header="Muffin.Pictures.Archiver Error"
          layout="${message}${newline}${stacktrace}"
          html="true"
          addNewLines="true"
          replaceNewlineWithBrTagInHtml="true"
          encoding="utf-8"
	  from="your@email.org"
	  to="your@email.org"
          subject="Muffin.Pictures.Archiver Mail"
          useSystemNetMailSettings="true" />
    <target xsi:type="File"
            name="fileWriter"
            fileName="logs/log.txt"
            archiveFileName="logs/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target xsi:type="Console"
            name="consoleWriter"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Fatal" writeTo="mailTarget" />
    <logger name="*" minlevel="Trace" writeTo="fileWriter" />
    <logger name="*" minlevel="Info" writeTo="consoleWriter" />
  </rules>
</nlog>
